<html lang="en">
  <%- include("./partials/head.ejs") %>

  <body>
    <%- include("./partials/nav.ejs") %>

    <div class="details content">
      <h2><%= feedback.title %></h2>
      <h3><%= feedback.snippet %></h3>
      <div class="content">
        <p><%= feedback.body %></p>
      </div>
      <a class="delete" data-doc="<%= feedback._id %>"
        ><img src="https://img.icons8.com/ios/50/000000/delete--v3.png"
      /></a>
    </div>

    <%- include("./partials/footer.ejs") %>

    <script>
      const trashcan = document.querySelector("a.delete");

      trashcan.addEventListener("click", (e) => {
        const endpoint = `/feedbacks/${trashcan.dataset.doc}`;

        fetch(endpoint, {
          method: "DELETE",
        })
          .then((response) => response.json())
          .then((data) => (window.location.href = data.redirect))
          .catch((err) => console.log(err));
      });
    </script>
  </body>
</html>
