<html lang="en">
  <%- include("./partials/head.ejs") %>

  <body>
    <%- include("./partials/nav.ejs") %>

    <div class="blogs content">
      <h2>All feedbacks</h2>
      <% if (feedbacks.length > 0) { %> <% feedbacks.forEach(feedback => { %>

      <h3 class="title"><%= feedback.title %></h3>
      <p class="snippet"><%= feedback.snippet %></p>
      <a href=""><h6>read more</h6></a>

      <% }) %> <% } else { %>
      <p>There are no feedbacks to display...</p>
      <% } %>
    </div>

    <%- include("./partials/footer.ejs") %>
  </body>
</html>
