<html lang="en">
  <%- include("./partials/head.ejs") %>

  <body>
    <%- include("./partials/nav.ejs") %>

    <div class="blogs content">
      <h2>All feedbacks</h2>

      <% if (feedbacks.length > 0) { %> <% feedbacks .forEach(feedback => { %>
      <div class="a" class="single">
        <h3 class="title"><%= feedback.title %></h3>
        <p class="snippet"><%= feedback.snippet %></p>
        <a class="read" href="/feedbacks/<%= feedback._id %>"
          ><h6>read more</h6></a
        >
      </div>

      <% }) %> <% } else { %>
      <p>There are no feedbacks...</p>
      <a href="/feedbacks/write"> <h4>write a feedback</h4></a>
      <% } %>
    </div>

    <%- include("./partials/footer.ejs") %>
  </body>
</html>
